{% extends 'base.html' %}

{% block title %}自如找房{% endblock %}
{% block head %}
<script>
    function foo() {
        var x = document.getElementById("test");
        x.style.fontSize = "25px";
        x.style.color = "red";
        x.innerHTML = "ok";
    }
</script>
<link rel="stylesheet" href="{{ url_for('static',filename = 'css/ziroom.css') }}">
{% endblock %}

{%block main%}
    <p class="choice_title">请选择靠近的地铁线路:</p>
    <div class="dropdown">
      <button  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        地铁
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for i in [1,2,3,4,6,7,8,9,11,13] %}
          <li><a href="">{{i}}号线</a></li>
        {% endfor %}
      </ul>
    </div>
    <p class="choice_title">请选择靠近的地铁站:</p>
    <div class="dropdown">
      <button  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        地铁
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for i in [1,2,3,4,6,7,8,9,11,13] %}
          <li><a href="">{{i}}号线</a></li>
        {% endfor %}
      </ul>
    </div>
    <h1 id="test">123</h1>
    <h2>456</h2>
{% endblock %}